/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-black: #4d4d4d;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Annimation */
  --animation-duration: 300ms;
}

/* TODO Add site wide styles */
body {
    /* margin-top: 20px; */
    /* margin-left: 500px; */
    margin:0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* yongho: I will use this later. */
    background: url('/images/home-background.png') center/cover no-repeat;
    padding: 40px; 
    text-align: center;

}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-white);
  font-weight: var(--weight-semi-bold);
  cursor: pointer;
}

a:hover {
  background-color: rgb(255, 208, 0);
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-yellow);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-yellow);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-yellow);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-yellow);
  margin: 4px 0;
}


button {
  /* background-color: transparent; */
  cursor: pointer;
  border: none;
  text-align: center;
  outline: none;
  border-radius: 10px;
  background-color: var(--color-yellow);
  font: var(--font-regular);
  color:var(--color-dark-grey);
  font-weight: var(--weight-semi-bold);
  display: inline-block;
  height: 40px;
  width: 100px;
  margin-top: 20px;
}

/* button {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}*/

  /* button {
    font-size: 16px;
    padding: 12px 24px;
    border-radius: 3px;
    border: 1px solid #d6d0c4;
    appearance: none;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: #333333;
    background-color: #f4f1ea;
    line-height: 1;
    font-weight: bold;
  } */

button:hover {
    background-color: rgb(255, 208, 0);
}

button:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
} 

button:disabled {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
    background-color:var(--color-yellow);
    cursor: default;
} 


#root {
    display: flex;
    justify-content: center;
}



#about {
    padding: 40px; 
    text-align: center;

}

/* Home page */
.home__photo {
    width: 300px;
    height: 200px;
    border-radius: 10%;
    border: 2px solid var(--color-light-white);

}

.home__description {
    width: 800px;
    height: 100px;
    margin-top: 20px;
    margin: auto;
}

.home__questionnaire {
  font-size: 30px ;
}


/* Questions */
.questions__container {
  background-color: var(--color-light-grey);
  margin: 60px;
  color: var(--color-white)
}

.status_bar {
  width: 100%;
  height: 20px;
  background-color: var(--color-yellow);
}

.status_value {
  height: 20px;
  background-color: var(--color-blue);
  /* background-color: var(--color-blue); */
}

/* Match*/
.match__photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}


.major__icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 70px;
  margin: auto;
  color: var(--color-blue);
  border: 1px solid var(--color-blue);
  border-radius: 50%;
  margin-bottom: 16px;
}

.match__similar {
    display: flex;
    justify-content: space-between;
    margin: 80px;
}

.match__opposite {
    display: flex;
    justify-content: space-between;
    margin: 80px 100px;
}

.match__match--bar {
  width: 80%;
  height: 10px;
  background-color: var(--color-yellow);
  margin:auto;
  
}

.match__match--value {
  height: 10px;
  background-color: var(--color-blue);
}

.match__container > h3 {
  color: var(--color-blue);
  font: small-caps bold 24px/1 sans-serif;
}

/* friends list */
.friends__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.friends__left__container {
 margin-left :50px;
 width: 40%;
}

.friends__list__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  /* border: 3px solid var(--color-yellow); */
  /* margin-top : 20px; */
}

.friends__photo {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  border: 3px solid var(--color-yellow);
}

.friends__match--bar {
  width: 90%;
  height: 10px;
  background-color: var(--color-yellow);
  /* margin-left: 10px; */
  
}

.friends__match--value {
  height: 10px;
  background-color: var(--color-blue);
}


.friends__right__container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right :50px;
}

.friends__right--message {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.friends__message {
  width: 250px;
  height: 100px;
  border: 3px solid var(--color-yellow);
  border-radius: 20px;
  /* background-color: var(--color-dark-white)  */
}

.friends__message--card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: auto;
  height: auto;
  border: 3px solid var(--color-yellow);
  border-radius: 20px;
  margin: 5px;
  background-color: var(--color-blue)
}

.friends__message--card > p{
  font-size: 14px;
}

.friends__message--card > h3 {
  font: bold 22px;
  color: var(--color-white);
  padding: 2px 10px;
}

.smallButton {
  height: 30px;
  width: 50px;
  margin: 0px;
}

/* profile */
.profile__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.profile__container--left {
  margin-left :50px;
  width: 40%;
}

.profile__container--right {
  width: 50%;
}

.profile__left__bottom--photochange {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

}

.profile__left__bottom--photo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.profile__right__top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.profile__right--accept {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.profile__right__button{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}

.profile__photo {
  width: 200px;
  height: 150px;
  border-radius: 20px;
  border: 3px solid var(--color-yellow);
}

.profile__photo--sample {
  width: 200px;
  height: 150px;
  border-radius: 20px;
  border: 3px solid var(--color-yellow);

}

.profile__right__bottom {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.profile__asking--card  {
  /* width: 200px; */
  height: auto;
  border: 3px solid var(--color-yellow);
  border-radius: 20px;
  margin: 20px;
  background-color: var(--color-blue);
  padding: 2px 10px;
}  


/* log in / sign up */
.loginandsignup {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 28px 10px 34px 10px;
  margin: 0 auto;
  text-align: center;

}

.loginandsignup form {
  display: flex;
  flex-direction: column;
  width: auto;
  padding: 20px;
  margin: 20px;
}
  
.loginandsignup fieldset {
  border: none;
  width: 300px;
  margin: 0 auto;
  padding: 0;
  text-align: left;
}

.loginandsignup input {
  box-sizing: border-box;
  font-size: 15px;
  padding: 10px 4px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-weight: bold;
  width: 300px;
  /* background: #FFFFFF; */
  background: var(--color-yellow);
}

.loginandsignup label {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-white);
}

.loginandsignup a {
  text-decoration: none;
  color: var(--color-white);
  font-weight: var(--weight-semi-bold);
  font-size: var(--font-medium);
  cursor: pointer;
  margin: 20px;
}

.loginandsignup span{
  color: var(--color-yellow);
  font-weight: var(--weight-semi-bold);
  font-size: var(--font-regular);
}

.login-buttons {
  display: flex;
  justify-content: space-between;
}

.login__image {
  height: 300px;
  width: 650px;
  border-radius: 10px;
}

#error {
    /* display: flex;
    height: 40px;
    width: 20px; */
    color: red;
}

.invalid-feedback {
    color: red;
}

/* Alert and Confirmation */
.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
}

.alert.success {background-color: var(--color-blue);}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}


