/* .navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%; 
    height: 7%;
    /* background-color: var(--color-pink); 
} */

.navbar {
    /* position: fixed; */
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:16px;
    background-color: transparent;
    transition: all var(--animation-duration) ease-in-out;
    z-index: 1;
}

/* .logo {
    flex-basis: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}  */

.logo {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: white;
    align-self: start;
}

/* .title {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: white;
}
     */



.yongho_logo {
  width: 50px;
  height: 50px;
}


.navbarMenu {
    /* align-self: flex-end; */
    /* flex-basis: auto; */
    /* margin: 20px; */
    display: flex;
    /* flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end; */

    
}

.navbarMenuItem {
    flex-basis: auto;
    padding: 4px 4px;
    margin: 0 20px;
    line-height: 40px;
    text-align: center;
    color: var(--color-white);
    cursor: pointer;
}

.navbarMenuItem.active {
  border: 1px solid white;
  border-radius: var(--size-border-radius);
}

.navbarMenuItem:hover {
  background-color: var(--color-dark-pink);
  border-radius: var(--size-border-radius);
}


